/* GENERAL */
* {
	font-family: 'Roboto', arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
	font-family: 'Roboto', arial, sans-serif;
	font-size: .8em;
}

a:hover {
	text-decoration: underline;
}

button {
	border: none;
}

/* CLASSES */
.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rounded {
	border-radius: 100px;
}

/* HEADER */
header {
	width: 97.5vw;
	padding-right: 2.5vw;
	height: 60px;

	justify-content: flex-end;
	align-items: center;
}

.header-links {
	width: 100px;
	margin-right: 10px;
}

/* HEADER BUTTONS */
.header-buttons,
.header-links {
	justify-content: space-around;
	align-items: center;
}

header button {
	display: flex;
	width: 50px;
	height: 50px;
	background: transparent;
}

button img {
	width: 30px;
	height: 30px;
}

header button:first-child img {
	width: 18px;
	height: 18px;
}

.header-apps img {
	width: 15px;
	height: 15px;
}

#hero {
	width: 272px;
	height: 92px;
	margin-bottom: 30px;
	aspect-ratio: 272 / 92;

	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	object-position: center bottom;
	width: auto;
}

/* MAIN */
main {
	flex-direction: column;
}

/* SEARCH BAR */
.search-bar {
	border: 1px solid #ddd;
	width: 430px;
	height: 42.5px;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 30px;
}

.search-bar img {
	width: 17.5px;
}

.search-bar img:last-child {
	width: 12.5px;
	height: 20px;
}

.search-bar input {
	width: 85%;
	height: 100%;
	border: none;
	background: transparent;
	outline: none;
}

/* BUTTONS */
.main-buttons {
	width: 275px;
	justify-content: space-between;
}

.main-buttons button {
	width: 130px;
	height: 35px;
	background: #f8f9fa;
	font-size: .9em;
	border-radius: 4px;
	color: #3c4043;
}

.main-buttons button:hover {
	cursor: pointer;
	border: 1px solid #dadce0;
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* FOOTER */
footer {
	width: 100vw;
	height: 140px;
	position: fixed;
	bottom: 0;
	flex-direction: column;
	background: #f2f2f2;
}

footer p {
	padding: 15px 30px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: rgba(0,0,0,.54);
	border-bottom: 1px solid #dadce0;
}

.footer-links {
	flex-direction: column;
	height: 70%;
	justify-content: center;
	align-items: center;
}

.footer-links section {
	justify-content: space-between;
}

.footer-links a {
	padding: 14px;
	font-size: 14px;
	color: #70757a;
}

@media only screen and (max-width: 1200px) {
	.footer-links {
		justify-content: space-evenly;
	}
}
